.w {
	padding: 2px 20px 2px 10px;
	position: relative;
	z-index: 19;
	border-style: none;
	/*border: 1px solid #2e6f9a;*/
	box-shadow: 2px 2px 19px #e0e0e0;
	-o-box-shadow: 2px 2px 19px #e0e0e0;
	-webkit-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-box-shadow: 2px 2px 19px #e0e0e0;
	/*-moz-border-radius: 8px;
	border-radius: 8px;*/
	opacity: 0.9;
	filter: alpha(opacity=80);
	/*cursor: move;*/
	background-color: #edf2f3;
	font-size: 10px;
	-webkit-transition: background-color 0.25s ease-in;
	-moz-transition: background-color 0.25s ease-in;
	transition: background-color 0.25s ease-in;
	vertical-align: text-top; /* alterado */
}

.w:hover {
	/*background-color: #FFF785;*/
	/*color: white;*/
	border-color: #ffc425;

	-webkit-transition: border-color 0.25s ease-in;
	-moz-transition: border-color 0.25s ease-in;
	transition: border-color 0.25s ease-in;
}

.aLabel._jsPlumb_hover, ._jsPlumb_source_hover, ._jsPlumb_target_hover {
	background-color: #FF6262; /* #FF3030 */
	color: white;
}

.aLabel {
	background-color: white;
	opacity: 0.8;
	padding: 0.3em;
	border-radius: 0.5em;
	border: 1px solid #346789;
	cursor: pointer;
	-webkit-transition: background-color 0.25s ease-in;
	-moz-transition: background-color 0.25s ease-in;
	transition: background-color 0.25s ease-in;
}

.ep {
	position: absolute;
	bottom: 30%;
	right: 10px;
	width: 1em;
	height: 1em;
	background-color: orange;
	cursor: pointer;
	box-shadow: 0 0 2px black;
	-webkit-transition: -webkit-box-shadow 0.25s ease-in;
	-moz-transition: -moz-box-shadow 0.25s ease-in;
	transition: box-shadow 0.25s ease-in;
}

.ep:hover {
	box-shadow: 0px 0px 6px black;
}

.statemachine-demo {
	z-index: 1;
}

._jsPlumb_endpoint {
	z-index: 1;
}

.dragHover {
	border: 2px solid orange;
}

path {
	cursor: pointer;
}

.vis.timeline .item {
	border-color: #acacac;
	background-color: #efefef;
	/*cursor: move;*/
}

/* alternating column backgrounds */
.vis-time-axis .grid.vis-odd {
	background-color: #f5f5f5;
}

/*.vis.timeline .item.dot {
    /*background-image: url(http://www.google.com/s2/favicons?domain=www.khanacademy.org);
    border-radius: 3px;
    border-style: solid;
border-width: 1px;
    width: 16px;
    height: 16px;
    /*background-position: center;
    background-repeat: no-repeat;
}*/
/*html, body {
height: 100%;
}*/

#mytimeline .center a {
	text-decoration: none;
	color: #ee5c42;
}

#mytimeline .left a {
	text-decoration: none;
	color: #cbcbcb;
}

#myheader, #myheader div, #myheader p, #myfooter {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

#myheader {
	width: 99%; 
	overflow: auto;
	white-space: nowrap;
}

#myheader #title {
	font-size: 18px;
	text-align: left;
	left-margin: 180px;
}

#myheader #title img {
	margin: 5px;
}

#myheader, #myfooter {
	padding: 5px;
}

#myfooter {
	width: 99%;
	overflow: auto;
}

#myfooter p {
	font-size: 0;
}

#myfooter span {
	width: 50%;
	display: inline-block;
	text-align: justify;
}

#myfooter span.rightAlign {
	text-align: right;
}

#myfooter span.credits, #myfooter span a {
	font-size: 11px;
}

#myfooter a {
	color: rgba(0, 102, 102, 0.6);
}

#myfooter a:hover {
	color: rgba(0, 102, 115, 1.0);
}

#myfooter span.rightAlign span {
	font-size: 11px;
	width: 15px;
	text-align: center;
}

#myDialog {
	text-align: center;
	vertical-align: middle;
	position: absolute;
	top: 25%;
}

#myDialog #closeReport {
	cursor: pointer;
}

#myDialog #title {
	font-size: 14px;
	width: 100%;
	display: inline-block;
}

#myDialog #reportChart {
	margin: 5px;
}

#myHelp {
	text-align: center;
	vertical-align: middle;
	position: absolute;
	top: 25%;
}

#myHelp #title {
	font-size: 14px;
	width: 100%;
	display: inline-block;
}

#myCanvas {
	margin: 5px;
}

#earlyNotice {
	position: relative;
	top: 22%;
	vertical-align: middle;
	text-align: center;
}

#earlyNotice h1, h2, img {
	color: rgb(200, 200, 201);
	vertical-align: middle;
}

#earlyNotice img {
	width: 10%;
	margin: 15px;
}

