/*
  Gollum v3 Template
*/

/* jsplumb */

.markdown-body {
  font-size: 12.5px;
  line-height: 1.6;
  background-color: white;
  padding-left: 10px;
  margin-left: 265px;
  margin-top: 65px;
  padding-right: 20px;
  margin-right: 10px;
}

li {
  list-style-type: disc;
}

.apis li {
  list-style-type: none;
}



@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:local('Open Sans'), 
    local('OpenSans'),
    url("OpenSans-Regular.ttf") format('truetype'),
    url("OpenSans.woff") format('woff');    
}
html { background-color: white; }
body { 
  font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  background-color:white; 
  text-align:left;
}

a[name]:before {
    display:block; 
    content:" "; 
    height:50px;     
    margin-bottom:-18px;
    margin-top:-79px;
    visibility: hidden;    
}

/* corrections for  jsdoc (move these out) */

/*
#main {
  height:auto;  
  background-color: white;
  border:none;
  font-size: 85%;
  text-align: left;
  width: 90%;
  max-width: none;
}
nav {
  padding-bottom: 10px;
  overflow-x: hidden;
  overflow-y:auto;
  height:100%;
  background-color: white;
  margin-top: 40px;
  position: fixed;
  left: 0;
  border: none;
  float: none;
  margin-left: 0;
  width:210px;
}

nav a:visited {
  color:#01a3c6;
}

nav h2 {
  display:none;
}

#main article dd {
  border-bottom: 1px solid #ccc;
  padding-bottom: 26px;
}
*/

/* this is the location in source links */
.details {
  display:none;
}

/* constructors */
.container-overview {
  /*display:none;*/
}

.apidoc-main {
  margin-left: 255px !important;  
  height: auto;
  width: auto;
  background-color: white;
  border: none;
}

.apidoc-summary {
  width:150px;
}
.apidoc-detail {
  margin-left:160px;
}

#qunit-tests li, #qunit-testresult {
  background-color: white !important;
}

#qunit-userAgent {
  text-shadow:none;
}

/* / jsplumb */

/* added by SP */

#headerWrapper {
  background-color:#eaedef;
}

.menu {
  background-color: #eaedef;
}

.nav {
  width: 240px;
  margin-left: 15px;
  font-size: 12px;
  position: fixed;
  height: 88%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
  padding-left: 5px;
}

.nav ul {
  padding-left: 25px;
  margin-top:8px;
}

.nav ul li {
  margin-bottom:5px;
}

html, body {
  color: #333;
}

body {
  font: 13.34px helvetica,arial,freesans,clean,sans-serif;
  line-height: 1.4;
}

img {
  border: 0;
}

a, a:visited {
  color: #4183C4;
  text-decoration: none;
  padding:0.3em;
}

a.absent {
  color: #c00;
}

.markdown-body a[id].wiki-toc-anchor  {
  color: inherit;
  text-decoration: none;
}

.markdown-body>*:first-child {
  margin-top: 0!important;
}
.markdown-body>*:last-child {
  margin-bottom: 0!important;
}
.markdown-body a.absent {
  color: #c00;
}
.markdown-body a.anchor {
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative;
}
.markdown-body h1:hover a.anchor,
.markdown-body h2:hover a.anchor,
.markdown-body h3:hover a.anchor,
.markdown-body h4:hover a.anchor,
.markdown-body h5:hover a.anchor,
.markdown-body h6:hover a.anchor {
  background: url(../images/pin-20.png) no-repeat left center;
  text-decoration: none;
}
.markdown-body h1 tt,
.markdown-body h1 code,
.markdown-body h2 tt,
.markdown-body h2 code,
.markdown-body h3 tt,
.markdown-body h3 code,
.markdown-body h4 tt,
.markdown-body h4 code,
.markdown-body h5 tt,
.markdown-body h5 code,
.markdown-body h6 tt,
.markdown-body h6 code {
  font-size: inherit;
}
.markdown-body h1 {
  font-size: 28px;
  color: #000;
  margin-top: 50px;
  margin-bottom: 20px;
}
.markdown-body h2 {
  font-size: 24px;
  border-bottom: 1px solid #ccc;
  color: #000;
  margin-top: 40px;
  margin-bottom: 20px;
}
.markdown-body h3 {
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 15px;
}
.markdown-body h4 {
  font-size: 16px;
}
.markdown-body h5 {
  font-size: 14px;
}
.markdown-body h6 {
  color: #777;
  font-size: 14px;
}
.markdown-body p,
.markdown-body blockquote,
.markdown-body ul,
.markdown-body ol,
.markdown-body dl,
.markdown-body li,
.markdown-body table,
.markdown-body pre {
  margin: 15px 0;
}
.markdown-body hr {
  background: transparent url(../images/dirty-shade.png) repeat-x 0 0;
  border: 0 none;
  color: #ccc;
  height: 4px;
  padding: 0;
}
.markdown-body>h1:first-child,
.markdown-body>h2:first-child,
.markdown-body>h3:first-child,
.markdown-body>h4:first-child,
.markdown-body>h5:first-child,
.markdown-body>h6:first-child {
}
.markdown-body h1+h2{
  margin-top: 30px;
}
.markdown-body h2+h3{
  margin-top: 10px;
}
.markdown-body a:first-child h1,
.markdown-body a:first-child h2,
.markdown-body a:first-child h3,
.markdown-body a:first-child h4,
.markdown-body a:first-child h5,
.markdown-body a:first-child h6 {
  margin-top: 0;
  padding-top: 0;
}
.markdown-body h1+p,
.markdown-body h2+p,
.markdown-body h3+p,
.markdown-body h4+p,
.markdown-body h5+p,
.markdown-body h6+p {
  margin-top: 0;
}
.markdown-body li p.first {
  display: inline-block;
}
.markdown-body ul,
.markdown-body ol {
  padding-left: 30px;
}
.markdown-body ul li>:first-child,
.markdown-body ol li>:first-child {
  margin-top: 0;
}
.markdown-body ul li>:last-child,
.markdown-body ol li>:last-child {
  margin-bottom: 0;
}
.markdown-body dl {
  padding: 0;
}
.markdown-body dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px;
}
.markdown-body dl dt:first-child {
  padding: 0;
}
.markdown-body dl dt>:first-child {
  margin-top: 0;
}
.markdown-body dl dt>:last-child {
  margin-bottom: 0;
}
.markdown-body dl dd {
  margin: 0 0 15px;
  padding: 0 15px;
}
.markdown-body dl dd>:first-child {
  margin-top: 0;
}
.markdown-body dl dd>:last-child {
  margin-bottom: 0;
}
.markdown-body blockquote {
  border-left: 4px solid #DDD;
  padding: 0 15px;
  color: #777;
}
.markdown-body blockquote>:first-child {
  margin-top: 0;
}
.markdown-body blockquote>:last-child {
  margin-bottom: 0;
}
.markdown-body table {
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
.markdown-body table tr {
  border-top: 1px solid #ccc;
  background-color: #fff;
  margin: 0;
  padding: 0;
}
.markdown-body table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.markdown-body table tr th {
  font-weight: bold;
}
.markdown-body table tr th,
.markdown-body table tr td {
  border: 1px solid #ccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
.markdown-body table tr th>:first-child,
.markdown-body table tr td>:first-child {
  margin-top: 0;
}
.markdown-body table tr th>:last-child,
.markdown-body table tr td>:last-child {
  margin-bottom: 0;
}
.markdown-body img {
  max-width: 100%;
}
.markdown-body span.frame {
  display: block;
  overflow: hidden;
}
.markdown-body span.frame>span {
  border: 1px solid #ddd;
  display: block;
  float: left;
  overflow: hidden;
  margin: 13px 0 0;
  padding: 7px;
  width: auto;
}
.markdown-body span.frame span img {
  display: block;
  float: left;
}
.markdown-body span.frame span span {
  clear: both;
  color: #333;
  display: block;
  padding: 5px 0 0;
}
.markdown-body span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}
.markdown-body span.align-center>span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: center;
}
.markdown-body span.align-center span img {
  margin: 0 auto;
  text-align: center;
}
.markdown-body span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}
.markdown-body span.align-right>span {
  display: block;
  overflow: hidden;
  margin: 13px 0 0;
  text-align: right;
}
.markdown-body span.align-right span img {
  margin: 0;
  text-align: right;
}
.markdown-body span.float-left {
  display: block;
  margin-right: 13px;
  overflow: hidden;
  float: left;
}
.markdown-body span.float-left span {
  margin: 13px 0 0;
}
.markdown-body span.float-right {
  display: block;
  margin-left: 13px;
  overflow: hidden;
  float: right;
}
.markdown-body span.float-right>span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: right;
}
.markdown-body code,
.markdown-body tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 3px;
}
.markdown-body pre>tt,
.markdown-body pre>code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}
.markdown-body pre {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  font-size: 11.5px;
  line-height: 18px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}
.markdown-body pre pre,
.markdown-body pre code,
.markdown-body pre tt {
  background-color: transparent;
  border: none;
}
.markdown-body pre pre {
  margin: 0;
  padding: 0;
}
.toc {
  background-color: #F7F7F7;
  border: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
  border-radius: 3px;
}
.toc-title {
  color: #888;
  font-size: 14px;
  line-height: 1.6;
  padding: 2px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 3px;
}
.toc ul {
  padding-left: 10px;
  margin: 0;
}
.toc>ul {
  margin-left: 10px;
  font-size: 17px;
}
.toc ul ul {
  font-size: 15px;
}
.toc ul ul ul {
  font-size: 14px;
}
.toc ul li{
  margin: 0;
}
#header-content .toc,
#footer-content .toc,
#sidebar-content .toc {
  border: none;
}
.highlight {
  background: #fff;
}
.highlight .c {
  color: #998;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .k {
  font-weight: bold;
}
.highlight .o {
  font-weight: bold;
}
.highlight .cm {
  color: #998;
  font-style: italic;
}
.highlight .cp {
  color: #999;
  font-weight: bold;
}
.highlight .c1 {
  color: #998;
  font-style: italic;
}
.highlight .cs {
  color: #999;
  font-weight: bold;
  font-style: italic;
}
.highlight .gd {
  color: #000;
  background-color: #fdd;
}
.highlight .gd .x {
  color: #000;
  background-color: #faa;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gr {
  color: #a00;
}
.highlight .gh {
  color: #999;
}
.highlight .gi {
  color: #000;
  background-color: #dfd;
}
.highlight .gi .x {
  color: #000;
  background-color: #afa;
}
.highlight .go {
  color: #888;
}
.highlight .gp {
  color: #555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #800080;
  font-weight: bold;
}
.highlight .gt {
  color: #a00;
}
.highlight .kc {
  font-weight: bold;
}
.highlight .kd {
  font-weight: bold;
}
.highlight .kn {
  font-weight: bold;
}
.highlight .kp {
  font-weight: bold;
}
.highlight .kr {
  font-weight: bold;
}
.highlight .kt {
  color: #458;
  font-weight: bold;
}
.highlight .m {
  color: #099;
}
.highlight .s {
  color: #d14;
}
.highlight .na {
  color: #008080;
}
.highlight .nb {
  color: #0086B3;
}
.highlight .nc {
  color: #458;
  font-weight: bold;
}
.highlight .no {
  color: #008080;
}
.highlight .ni {
  color: #800080;
}
.highlight .ne {
  color: #900;
  font-weight: bold;
}
.highlight .nf {
  color: #900;
  font-weight: bold;
}
.highlight .nn {
  color: #555;
}
.highlight .nt {
  color: #000080;
}
.highlight .nv {
  color: #008080;
}
.highlight .ow {
  font-weight: bold;
}
.highlight .w {
  color: #bbb;
}
.highlight .mf {
  color: #099;
}
.highlight .mh {
  color: #099;
}
.highlight .mi {
  color: #099;
}
.highlight .mo {
  color: #099;
}
.highlight .sb {
  color: #d14;
}
.highlight .sc {
  color: #d14;
}
.highlight .sd {
  color: #d14;
}
.highlight .s2 {
  color: #d14;
}
.highlight .se {
  color: #d14;
}
.highlight .sh {
  color: #d14;
}
.highlight .si {
  color: #d14;
}
.highlight .sx {
  color: #d14;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #d14;
}
.highlight .ss {
  color: #990073;
}
.highlight .bp {
  color: #999;
}
.highlight .vc {
  color: #008080;
}
.highlight .vg {
  color: #008080;
}
.highlight .vi {
  color: #008080;
}
.highlight .il {
  color: #099;
}
.highlight .gc {
  color: #999;
  background-color: #EAF2F5;
}
.type-csharp .highlight .k {
  color: #00F;
}
.type-csharp .highlight .kt {
  color: #00F;
}
.type-csharp .highlight .nf {
  color: #000;
  font-weight: normal;
}
.type-csharp .highlight .nc {
  color: #2B91AF;
}
.type-csharp .highlight .nn {
  color: #000;
}
.type-csharp .highlight .s {
  color: #A31515;
}
.type-csharp .highlight .sc {
  color: #A31515;
}

/* api docs */
.apidocs {
  margin-top: 20px !important;
}

.apidoc-intro {
  padding-top:30px !important;
}